/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.button {
    --button-color: var(--ifm-color-primary);
    --button-hover-color: #c2185b;
    width: 208px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    background: var(--button-color);
    color: #fff;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 0;
    text-transform: uppercase;
    padding: 0.9rem 1.5rem;
    margin: 13px 13px 12px 12px;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: inherit;
    background: var(--button-hover-color);
    display: block;
    transition: width 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button .buttonShadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.button .buttonShadow > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    border: 2px solid var(--button-color);
    border-top: none;
    border-left: none;
    right: -6px;
    bottom: -6px;
}

.button:hover {
    transform: translateX(2px) translateY(2px) !important;
    color: #fff;
    text-decoration: none;
}

.button:hover::before {
    width: 100%;
}

.button:hover .buttonShadow > div {
    right: -4px;
    bottom: -4px;
}

.button:hover svg {
    transform: translateX(4px);
}

.button span {
    position: relative;
    z-index: 2;
    vertical-align: middle;
}

.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 14px;
    margin-left: 30px;
    margin-top: 0;
    top: auto;
    right: auto;
    position: relative;
    z-index: 2;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.button svg line {
    stroke: #fff;
    stroke-width: 2px;
}
