name: Deploy Docs

on:
  push:
      branches:
          - main
          - docs

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm ci
      - run: |
          git config --global user.name "$GITHUB_ACTOR"
          git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git remote set-url origin https://git:${GIT_PASS}@github.com/pixijs/pixi-react.git
          npm run deploy
        env:
          GIT_USER: $GITHUB_ACTOR
          GIT_PASS: ${{ secrets.GITHUB_TOKEN }}
