name: CI

on:
  push:

jobs:
  verify:
    name: CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        script:
          # - name: Typecheck
          #   command: test:types
          - name: Lint
            command: test:lint
          - name: Unit tests
            command: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - run: npm ci --ignore-scripts --no-audit --no-fund
      - run: npm rebuild
      - run: npm run ${{ matrix.script.command }}
